<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(typeof error !== "undefined"){ %>
        <p style="color: red;"><%=error%></p>
    <% } %>
    <form action="/login" method="post">
        <label for="pseudos">Pseudos*</label>
        <input type="text" name="pseudos" id="pseudos">
        <label for="password">Mot de Passe*</label>
        <input type="password" name="password" id="password">
        <button type="submit">Connectez!</button>
    </form>
</body>
</html>